body {
  font-family: Arial;
  margin: 0;
  background: #f5f5f5;
}

header {
  background: #222;
  color: white;
  padding: 30px;
  text-align: center;
}

section {
  padding: 30px;
  margin: 20px;
  background: white;
  border-radius: 10px;
}
@media (max-width: 600px) {
  section {
    margin: 10px;
  }
}
section {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
.card {
  background: white;
  padding: 20px;
  margin: 15px 0;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}
.fade {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.6s;
}

.fade.show {
  opacity: 1;
  transform: translateY(0);
}

.dark {
  background: #121212;
  color: white;
}
.dark section {
  background: #1f1f1f;
}

html {
  scroll-behavior: smooth;
}